<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_ticket.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <!-- Include TinyMCE stylesheet -->
    <script src="https://cdn.tiny.cloud/1/hcsdmgk5ojfti5cengfoxv1zfkb2t21ei6ue2obbe85k8lst/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        // Initialize TinyMCE
        tinymce.init({
            selector: '#description',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor',
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            height: 300  // Specify the height of the TinyMCE editor
        });
    </script>
    <body>
        <div class="container">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo" class="logo-main">
            <a href="/new_ticket" class="button">Abrir um novo pedido</a>
            <a href="/my_tickets" class="button">Tickets</a>
            <a href="/logout" class="button">Terminar sessão</a>
        </div>
    </body>
    <title>Abrir novo ticket - Helpdesk Ticketing System</title>
</head>
<body>
    <div class="container">
        <h1>Abrir novo ticket</h1>
        <form method="POST" action="/new_ticket">
            <label for="topic">Tópico de ajuda:</label>
            <select id="topic_id" name="topic_id" required>
                <option value="1">Password</option>
                <option value="2">Sighrara</option>
                <option value="3">Certificados</option>
            </select>
           
            <button type="submit">Submeter ticket</button>
        </form>
    </div>
</body>
</html>
