<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile - Helpdesk Ticketing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/side_menu.css') }}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
</style>
<body>
    <div class="sidenav">
        <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo-main" class="logo-main">
        {%if is_admin%}
            <div class="menu-item">
                <a href="/admin_init"><i class="fa fa-home"></i> Inicio</a>
            </div>
            <div class="menu-item">
                <a href="/admin_pannel"><i class="fa fa-dashboard"></i> Admin Panel</a>
            </div>
            <div class="menu-item">
                <a href="/pannel_group"><i class="fa fa-users"></i> Group Panel</a>
            </div>
            <div class="menu-item">
                <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
            </div>
            <div class="menu-item" >
                <a href="/new_user"><i class="fa fa-user-plus"></i> Novo utilizador</a>
            </div>
        {%endif%}
        
        {%if not is_admin%}
            <div class="menu-item">
                <a href="/init_page"><i class="fa fa-home"></i> Inicio</a>
            </div>
            <div class="menu-item">
                <a href="/new_ticket"><i class="fa fa-dashboard"></i> Abrir novo ticket</a>
            </div>
            <div class="menu-item">
                <a href="/my_tickets"><i class="fa fa-users"></i> Tickets</a>
            </div>
            <div class="menu-item">
                <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
            </div>
        
        {% endif %}
        <div class="menu-item" id="logout-button">
            <a href="/logout"></i> Terminar sessão</a>
        </div>
        
        
    </div>

    <div class="container">
        <h1>Meu perfil</h1>
        <div class="profile-info">
            <h3>Nome de Utilizador: {{ user_name }}</h3> <!-- Replace 'username' with the variable holding the username -->
            <form method="POST">
                <label for="password">Password Atual:</label>
                <input type="password" id="password" name="password" required>
            
                <label for="new_password">Nova Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            
                <label for="confirm_password">Confirmar Nova Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            
                <button type="submit" class="button">Alterar Password</button>
                {% if message %}
                    <!-- Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <p>{{ message.content }}</p>
                        </div>
                    </div>
                    <script>
                        // Display the modal
                        var modal = document.getElementById("myModal");
                        modal.style.display = "block";

                        // Close the modal when clicked on close button or outside of the modal
                        function closeModal() {
                            modal.style.display = "none";
                        }
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
                {% endif %}

            </form>
            
        </div>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
   
</body>
</html>
