<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Tickets NIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/super_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/side_menu.css') }}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="sidenav">
        <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo-main" class="logo-main">
        <div class="menu-item">
            <a href="/admin_pannel"><i class="fa fa-dashboard"></i> Painel de administração</a>
        </div>
        <div class="menu-item">
            <a href="/pannel_group"><i class="fa fa-users"></i>Painel de grupo</a>
        </div>
        <div class="menu-item">
            <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
        </div>
        <div class="menu-item">
            <a href="/new_user"><i class="fa fa-user-plus"></i> Novo utilizador</a>
        </div>
        <div class="menu-item">
            <a href="/logout"><i class="gg-log-out"></i> Terminar sessão</a>
        </div> 
    </div>

    <div class="main">
        <div class="container">
            <h1>Bem-vindo ao sistema de apoio do Núcleo de Informática e Telecomunicações</h1>
            

            {% if super_admin %}
            <div class="dump-database">
                <form action="/dump_database" method="post">
                    <fieldset>
                        <legend>Dump da Base de Dados</legend>
                        <div class="checkbox-group">
                            <input type="checkbox" id="users" name="users" value="users">
                            <label for="users">Utilizadores</label><br>
                            <div class="sub-checkboxes">
                                <input type="checkbox" id="id" name="id" value="id">
                                <label for="user_id">ID do Utilizador</label><br>
                                <input type="checkbox" id="name" name="name" value="name">
                                <label for="username">Nome do Utilizador</label><br>
                                <input type="checkbox" id="email" name="email" value="email">
                                <label for="created_at">Data de criação</label><br>
                                <input type="checkbox" id="created_at" name="created_at" value="created_at">
                                <label for="email">Email</label><br>
                                <input type="checkbox" id="group_id" name="group_id" value="group_id">
                                <label for="group_id">ID do Grupo</label><br>
                                <input type="checkbox" id="type" name="type" value="type">
                                <label for="user_type">Tipo de utilizador</label><br>
                                <input type="submit" value="Gerar Dump">
                            </div>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="tickets" name="tickets" value="tickets">
                            <label for="tickets">Tickets</label><br>
                            <div class="sub-checkboxes">
                                <input type="checkbox" id="id" name="id" value="id">
                                <label for="ticket_id">ID do Ticket</label><br>
                                <input type="checkbox" id="title" name="title" value="title">
                                <label for="title">Título</label><br>
                                <input type="checkbox" id="description" name="description" value="description">
                                <label for="descricao">Descrição</label><br>
                                <input type="checkbox" id="created_by_user" name="created_by_user" value="created_by_user">
                                <label for="created_by">Criado Por</label><br>
                                <input type="checkbox" id="state" name="state" value="state">
                                <label for="state">Estado</label><br>
                                <input type="checkbox" id="closed_by" name="closed_by" value="closed_by">
                                <label for="closed_by">Fechado por </label><br>
                                <input type="submit" value="Gerar Dump">
                            </div>
                        </div>
                        <!-- Actions Section 
                        <div class="checkbox-group">
                            <input type="checkbox" id="topics" name="topics" value="topics">
                            <label for="topics">Tópicos</label><br>
                            <div class="sub-checkboxes">
                                <input type="checkbox" id="id" name="id" value="id">
                                <label for="topic_id">ID do Tópico</label><br>
                                <input type="checkbox" id="key_word" name="key_word" value="key_word">
                                <label for="topic_name">Nome do Tópico</label><br>
                                <input type="checkbox" id="group_id" name="group_id" value="group_id">
                                <label for="group_id">Grupo do Tópico</label><br>
                                <input type="submit" value="Gerar Dump">
                            </div>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="groups" name="groups" value="groups">
                            <label for="groups">Grupos</label><br>
                            <div class="sub-checkboxes">
                                <input type="checkbox" id="group_id" name="group_id" value="group_id">
                                <label for="group_id">ID do Grupo</label><br>
                                <input type="checkbox" id="group_name" name="group_name" value="group_name">
                                <label for="group_name">Nome do Grupo</label><br>
                                <input type="submit" value="Gerar Dump">
                                
                            </div>
                        </div>
                        -->
                    </fieldset>
                    
                </form>
                
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
