<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin Panel - Tickets</title>
    <a href="/logout" class="button">Terminar sessão</a>
    <a href="/admin_init" class="button">Voltar</a>
</head>
<body>
    <h1>Admin Panel - Tickets</h1>
    <button id="all-btn" class="filter-button">Todos</button>
     <button id="aberto-btn"  class="fa fa-file-text-o">Aberto({{ open_tickets }})</button>
     <button id="fechado-btn"  class="fa fa-file-text-o">Fechado({{ closed_tickets }})</button>
     <button id="executing-btn"  class="fa fa-file-text-o">Em execucao({{ executing_tickets }})</button>


   
    <table>
        <thead>
            <tr>
                <th>Pedido #</th>
                <th>Data de criação</th>
                <th>Utilizador</th>
                <th>Unidade Org.</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Fechado por</th>
            </tr>
        </thead>
        <tbody id="ticket-table-body">
            <!-- Ticket data will be inserted here -->
        </tbody>
    </table>
    <div id="pagination">
        <button id="prev-btn" class="button">Anterior</button>
        <span id="page-num">[1]</span>
        <button id="next-btn" class="button">Próximo</button>
    </div>
    <div class="footer">
        &copy; 2024 SREC-NIT. All rights reserved.
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tickets = [
                {% for ticket in tickets %}
                {
                    id: "{{ ticket.id }}",
                    date: "{{ ticket.date }}",
                    created_by_user: "{{ ticket.created_by_user }}",
                    UnidadeOrg: "{{ ticket.UnidadeOrg }}",
                    title: "{{ ticket.title }}",
                    state: "{{ ticket.state }}",
                    closed_by: "{{ ticket.closed_by }}",
                    attributed_to: "{{ ticket.attributed_to }}"
                },
                {% endfor %}
            ];
            var currentPage = 1;
            var ticketsPerPage = 15; // Number of tickets to display per page
            var currentFilter = 'all'; // Default filter option

            var tableBody = document.getElementById('ticket-table-body');
            var prevButton = document.getElementById('prev-btn');
            var nextButton = document.getElementById('next-btn');
            var pageNumSpan = document.getElementById('page-num');
            var abertoButton = document.getElementById('aberto-btn');
            var fechadoButton = document.getElementById('fechado-btn');
            var executingButton = document.getElementById('executing-btn');
            var allButton = document.getElementById('all-btn');

            // Function to display tickets for the current page based on the selected filter option
            function displayTickets() {
                var filteredTickets;
                if (currentFilter === 'aberto') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'open');
                } else if (currentFilter === 'fechado') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'closed');
                }else if (currentFilter === 'em execucao') {
                    filteredTickets = tickets.filter(ticket => ticket.state === 'em execucao');
                }else {
                    filteredTickets = tickets;
                }

                var startIdx = (currentPage - 1) * ticketsPerPage;
                var endIdx = Math.min(startIdx + ticketsPerPage, filteredTickets.length);

                tableBody.innerHTML = ''; // Clear previous entries

                for (var i = startIdx; i < endIdx; i++) {
                    var ticket = filteredTickets[i];
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${ticket.id}</td>
                        <td>${ticket.date}</td>
                        <td>${ticket.created_by_user}</td>
                        <td>${ticket.UnidadeOrg}</td>
                        <td><a href="/ticket_details/${ticket.id}">${ticket.title}</a></td>
                        <td>${ticket.state}</td>
                        <td>${ticket.state === 'closed' ? ticket.closed_by : ticket.attributed_to}</td>
                        `;
                    tableBody.appendChild(row);
                }

                pageNumSpan.textContent = currentPage;
            }

            // Function to navigate to the previous page
            function goToPrevPage() {
                if (currentPage > 1) {
                    currentPage--;
                    displayTickets();
                }
            }

            // Function to navigate to the next page
            function goToNextPage() {
                var totalPages = Math.ceil(tickets.length / ticketsPerPage);
                if (currentPage < totalPages) {
                    currentPage++;
                    displayTickets();
                }
            }

            // Event listeners for pagination buttons
            prevButton.addEventListener('click', goToPrevPage);
            nextButton.addEventListener('click', goToNextPage);

            // Event listeners for filter buttons
            abertoButton.addEventListener('click', function () {
                currentFilter = 'aberto';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });

            fechadoButton.addEventListener('click', function () {
                currentFilter = 'fechado';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });

            executingButton.addEventListener('click', function () {
                currentFilter = 'em execucao';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });

            allButton.addEventListener('click', function () {
                currentFilter = 'all';
                currentPage = 1; // Reset page number when changing filter
                displayTickets();
            });

            // Initial display
            displayTickets();
        });
    </script>
</body>
</html>
