<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpdesk Ticketing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    <div class="button-container">
        <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo-main" class="logo-main">
        <h2>Bem-vindo ao sistema de apoio do Núcleo de Informática e Telecomunicações.</h2>
        <h3>Nesta plataforma pode solicitar apoio técnico do Núcleo de Informática e Telecomunicações da Secretaria Regional da Educação, Desporto e Cultura. </h3>
        <h4>Comprometemo-nos a responder com a maior brevidade possível, empregando todos os recursos ao nosso alcance para resolver o seu problema de forma eficiente e eficaz.</h4>
        <a href="/login" class="button-login" >Login</a>
    </div>
    
</body>
</html>
