<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <body>
        <div class="container">
            <p>This is the homepage of our helpdesk ticketing system.</p>
            <a href="/new_ticket" class="button">Abrir um novo pedido</a>
            <a href="/my_tickets" class="button">Tickets</a>
            <a href="/login" class="button">Terminar sessão</a>
        </div>
    </body>
</head>
<body>
    <div class="container">
        <h1>Tickets</h1>
        <table>
            <thead>
                <tr>
                    <th>#Pedido</th>
                    <th>Data de criação</th>
                    <th>Estado</th>
                    <th>Assunto</th>
                    <th>Atrubuido a</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.state }}</td>
                    <td><a href="/ticket_details/{{ ticket.id }}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.attributed_to }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="footer">
            &copy; 2024 SREC-NIT. All rights reserved.
        </div>
    </div>
</body>
</html>
