<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_ticket.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/side_menu.css') }}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Include TinyMCE stylesheet -->
    <script src="https://cdn.tiny.cloud/1/hcsdmgk5ojfti5cengfoxv1zfkb2t21ei6ue2obbe85k8lst/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
   <script>
    // Initialize TinyMCE
    tinymce.init({
        selector: '#description',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor table',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | help',
        height: 300, // Specify the height of the TinyMCE editor
        images_upload_url: '/upload_image', // URL for server-side image upload handler (optional)
    });
</script>
<style>
    p {
        margin: 0;
        padding: 0;
    }
</style>

</head>
<body>
    <div class="sidenav">
        <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="logo-main" class="logo-main">
        <div class="menu-item">
            <a href="/init_page"><i class="fa fa-home"></i> Inicio</a>
        </div>
        <div class="menu-item">
            <a href="/new_ticket"><i class="fa fa-dashboard"></i>Abrir novo ticket</a>
        </div>
        <div class="menu-item">
            <a href="/my_tickets"><i class="fa fa-users"></i>Tickets</a>
        </div>
        <div class="menu-item">
            <a href="/my_profile"><i class="fa fa-user"></i> Meu perfil</a>
        </div>
        <div class="menu-item" id="logout-button">
            <a href="/logout"></i> Terminar sessão</a>
        </div>
    </div>

    <div class="container">
        <h1>Abrir novo ticket</h1>
        <form method="POST" action="/new_ticket" id="ticket_form" enctype="multipart/form-data">
            <div id="popup-message" class="popup" style="display: none;">Ticket criado com sucesso!</div>
            <label for="topic">Tópico de ajuda:</label>
            <select id="topic_id" name="topic_id" required>
                <!-- Topicos default para todos -->
                <option value="0">-Selecione um tópico de ajuda-</option>
                <option value="2">Geral</option>
                
                {% if is_edu %}
                <option value="26">Apoio a websites EDU</option>
                <option value="4">Criar conta EDU</option>
                <option value="5">Reset MFA EDU</option>
                <option value="6">Reset password EDU</option>
                <option value="45">Configuração/problema de rede EDU</option>
                <option value="46">Pedido de parecer EDU</option>
                <option value="47">Configuração APs EDU</option>

                {% else %}
                <option value="12">Autenticação MFA</option>
                <option value="16">Apoio ao Utilizador</option>
                <option value="7">Adicionar MACaddress a controladora</option>
                <option value="25">Atribuição de computadores</option>
                <option value="33">Alteração de Redes</option>
                <option value="11">Criar novo utilizador</option>
                <option value="13">Criar grupo de distribuição</option>
                <option value="10">Dados aluno</option>
                <option value="34">Indidente de Segurança</option>
                <option value="14">Licença O365</option>
                <option value="15">Partilhas na rede</option>
                <option value="27">Pedido de equipamento</option>
                <option value="28">Pedido de SUP individual</option>
                <option value="29">Pedido de Switch - Avaria</option>
                <option value="30">Pedido de Switch - Configuração</option>
                <option value="31">Pedido de VPN</option>
                <option value="32">Preparação de local para evento</option>
                <option value="34">Pedido de parecer</option>
                <option value="9">Reconfiguração portas switch</option>
                           
                {% endif %}
            </select>
            <label for="title">Sumário do problema:</label>
            <input type="text" id="title" name="title" required>
            {%if is_edu%}
            <label for="ilha">Ilha:</label>
            <select id="ilha" name="ilha" required>
                <option>-Selecione uma opção-</option>
                <option>Santa Maria</option>
                <option>São Miguel</option>
                <option>Terceira</option>
                <option>Faial</option>
                <option>Pico</option>
                <option>São Jorge</option>
                <option>Graciosa</option>
                <option>Flores</option>
                <option>Corvo</option>

            </select>
            {% endif%}
            <label for="UnidadeOrg">Unidade organica/Divião:</label>
            <select id="UnidadeOrg" name="UnidadeOrg" required></select>
            <!-- Div for description -->
            <div id="description_div">
                <label for="description">Descrição:</label>
                <!-- Replace textarea with div for TinyMCE -->
                <div id="description" name="description" required></div>
            </div>
            <label for="contacto">Contacto (VOIP ou outro):</label>
            <input type="text" id="contacto" name="contacto" required>
            <!-- Download link for default file -->
            <label for="file">Anexar ficheiro:</label>
            <input type="file" id="file" name="file " >
            
            <button type="submit" id="submit_button" style="margin-top: 10px;">Submeter ticket</button>
            <div id="loader">
                <i class="fa fa-spinner fa-spin"></i>A submeter o ticket.Por favor aguarde...
            </div>
        </form>
        
        
    </div>

    <script>
        var is_edu = {{ is_edu|tojson }};
        window.onload = function() {
            // Hide the loader when the page is fully loaded
            document.getElementById('loader').style.display = 'none';
        
            fetchUnidadeOrganica();
        
            // Call fetchUnidadeOrganica whenever the selected Ilha changes
            document.getElementById('ilha').addEventListener('change', fetchUnidadeOrganica);
        
            // Call fetchUnidadeOrganica whenever the selected topic changes (optional)
            document.getElementById('topic_id').addEventListener('change', fetchUnidadeOrganica);
        };
        
        var ilhaOptions = {
            "São Miguel": [
            "Conservatório Regional Ponta Delgada",
            "EBIA - Escola Básica Integrada Arrifes",
            "EBIAP - Escola Básica Integrada Água Pau",
            "EBICM - Escola Básica Integrada Canto Maia",
            "EBIG - Escola Básica Integrada Ginetes",
            "EBIL - Escola Básica Integrada Lagoa",
            "EBIM - Escola Básica Integrada Maia",
            "EBIPG - Escola Básica Integrada Ponta Garça",
            "EBIRG - Escola Básica Integrada Ribeira Grande",
            "EBIRP - Escola Básica Integrada Rabo Peixe",
            "EBIVC - Escola Básica Integrada Vila Capelas",
            "EBIVT - Escola Básica Integrada Vila Topo",
            "EBSN - Escola Básica Secundária Nordeste",
            "EBSP - Escola Básica Secundária Povoação",
            "EBSVFC - Escola Básica Secundária Vila Franca Campo",
            "EPC - Escola Profissional Capelas",
            "ESAQ - Escola Secundária Antero Quental",
            "ESBIRI - Escola Básica Integrada Roberto Ivens",
            "ESDR - Escola Secundária Domingos Rebelo",
            "ESL - Escola Secundária Lagoa",
            "ESL - Escola Secundária Laranjeiras",
            "ESRG - Escola Secundária Ribeira Grande"],
            "Santa Maria": ["EBS Santa Maria"],
            "São Jorge": ["EBS das Velas","EBS da Calheta","EBS Topo"],
            "Terceira": ["EBI da Praia da Vitória","EBI de Angra do Heroísmo","EBI dos Biscoitos","EBI Francisco Ferreira Drummond","ES Jerónimo Emiliano Andrade","EBS Tomás de Borba"],
            "Faial": ["EBI Horta","ES Manuel Arriaga"],
            "Pico": ["EBS da Madalena","EBS Lajes do Pico","EBS S.Roque do Pico"],
            "Graciosa": ["EBS da Graciosa"],
            "Flores": ["EBS das Flores","EBS Lajes Flores"],
            "Corvo": ["EBS Mouzinho Silveira"],
            
            // Add options for other ilhas here
        };
        

        function fetchUnidadeOrganica() {
            var ilhaDropdown = document.getElementById('ilha');
            var unidadeOrgDropdown = document.getElementById('UnidadeOrg');
        
            if (!is_edu) {
                fetch('{{ url_for('static', filename='files/divisoes.txt') }}')
                    .then(response => response.text())
                    .then(data => {
                        const values = data.split('\n');
                        unidadeOrgDropdown.innerHTML = '';
                        values.forEach(value => {
                            const option = document.createElement('option');
                            option.text = value.trim();
                            unidadeOrgDropdown.add(option);
                        });
                    })
                    .catch(error => console.error('Error fetching divisao:', error));
            } else {
                var selectedIlha = ilhaDropdown.value;
                var unidadeOrgOptions = ilhaOptions[selectedIlha] || [];
        
                unidadeOrgDropdown.innerHTML = '';
                unidadeOrgOptions.forEach(option => {
                    var optionElement = document.createElement('option');
                    optionElement.textContent = option;
                    unidadeOrgDropdown.appendChild(optionElement);
                });
            }
        }
        
        
        // Function to show or hide description field based on selected topic
        function toggleDescription() {
            var topicSelect = document.getElementById('topic_id');
            var descriptionDiv = document.getElementById('description_div');
            var fileDownload1 = document.getElementById('file_download1');
            var fileDownload2 = document.getElementById('file_download2');
    
            if (topicSelect.value === '4') {
                // Create a default table with three columns
                setDefaultMessage('<table border="1"><tr><th>Nome completo</th><th>NIF</th><th>Data de nascimento</th></tr><tr><td></td><td></td><td></td></tr></table>');
                fileDownload1.style.display = 'block'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            } else if (topicSelect.value === '5') {
                setDefaultMessage('<table border="1"><tr><th>Nome completo</th><th>User</th></tr><tr><td></td><td></td></tr></table>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'block'; // Show download link for topic 4
            } else if (topicSelect.value === '6') {
                setDefaultMessage('<table border="1"><tr><th>Nome completo</th><th>User</th></tr><tr><td></td><td></td></tr></table>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'block'; // Show download link for topic 4
            } else if (topicSelect.value === '7') {
                setDefaultMessage('<b>Insira aqui a lista com os MACaddress. </b>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            }else if (topicSelect.value === '11') {
                setDefaultMessage('<table border="1"><tr><th>Nome completo</th><th>NIF</th><th>Data de nascimento</th><th>SGC</th><th>Relógio ponto</th></tr><tr><td></td><td></td><td></td><td></td><td></td><td></tr></table>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            
            } else if (topicSelect.value === '12') {
                setDefaultMessage('<table border="1"><tr><th>Nome completo</th><th>User</th></tr><tr><td></td><td></td></tr></table>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            
            }else if (topicSelect.value === '13') {
                setDefaultMessage('<table border="1"><tr><th>Nome grupo</th><th>Endereço email grupo</th><th>Proprietário grupo</th><th>Membros</th><th>Enviar em nome de </th></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></table>');
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            
            }else if (topicSelect.value === '15') {
                setDefaultMessage(`
                <ul>
                    <li>Caminho: </li>
                    <li>Pasta / Ficheiro: </li>
                    <li>Utilizadores / Grupos: </li>
                    <li>Tipo de Permissão (Leitura, Alterar, Remover): </li>
                </ul>
            `);
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            
            }else if (topicSelect.value === '16') {
                fileDownload1.style.display = 'none'; // Show download link for topic 4
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            
            }else {
                setDefaultMessage('');
                fileDownload1.style.display = 'none'; // Hide download link for other topics
                fileDownload2.style.display = 'none'; // Show download link for topic 4
            }
        }
        // Function to show popup message
        function showPopupMessage() {
            var popup = document.getElementById('popup-message');
            popup.style.display = 'block'; // Show the popup
            setTimeout(function() {
                popup.style.display = 'none'; // Hide the popup after 3 seconds
            }, 3000); // Adjust the duration as needed (in milliseconds)
        }

        // Show loader when form is submitted
        document.getElementById('ticket_form').addEventListener('submit', function() {
            document.getElementById('loader').style.display = 'flex'; // Show the loader
            showPopupMessage(); // Show the popup message
        });
    
        // Function to set default message in the editor
        function setDefaultMessage(message) {
            tinymce.get('description').setContent(message);
        }
    
        // Add event listener to topic select to call toggleDescription function on change
        document.getElementById('topic_id').addEventListener('change', toggleDescription);
    
        // Call toggleDescription function on page load to initialize based on initial topic value
        toggleDescription();
    
        // Show loader when form is submitted
        document.getElementById('ticket_form').addEventListener('submit', function() {
            document.getElementById('loader').style.display = 'flex'; // Change display to flex to show the loader
            // Optionally, disable the submit button to prevent multiple submissions
            // document.getElementById('submit_button').disabled = true;
        });
    </script>
    
</body>
</html>