<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">

    <title>Admin Panel - Tickets</title>
    <a href="/logout" class="button-logout">Terminar sessão</a>
    
</head>
<body>
    <h1>Admin Panel - Tickets</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Date Created</th>
                <th>User</th>
                <th>Description</th>
                <th>State</th>
                <th>Atribuido a</th>
            </tr>
        </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.created_by_user }}</td>
                    <td><a href="/ticket_details/{{ ticket.id }}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.state }}</td>
                    <td>{{ ticket.group_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    <div class="footer">
        &copy; 2024 SREC-NIT. All rights reserved.
    </div>
</body>
</html>
