<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
</head>
<body>
    <div class="container">
        <p>This is the homepage of our helpdesk ticketing system.</p>
        <a href="/admin_pannel" class="button">Voltar ao painel</a>
        {% if not is_admin %}
            <a href="/new_ticket" class="button">Abrir um novo pedido</a>
            <a href="/my_tickets" class="button">Tickets</a>
        {% endif %}
        <a href="/login" class="button">Terminar sessão</a>
    </div>

    <div class="container">
        <h1>{{ticket_details.title}} #{{ ticket_details.id }}</h1>
        <h2>Informação acerca do ticket</h2>
        <div class="ticket-info">
            <p><strong>User:</strong> {{ user_name }}</p>
            <p><strong>Contacto:</strong> {{ ticket_details.contacto }}</p>
            <p><strong>Description:</strong> {{ ticket_details.description }}</p>
        </div>
        <div class="message-container" id="message-container">
            <!-- Messages will be displayed here -->
            {% for message in ticket_details.messages %}
            <div class="message {% if message.sender_type == 'user' %}user-message{% else %}admin-message{% endif %}">
                <div class="message-header {% if message.sender_type == 'user' %}user-header{% else %}admin-header{% endif %}">
                    {{ message.sender_type }} - {{ message.date }}
                </div>
                <div class="message-content">
                    {{ message.message }}
                </div>
            </div>
            {% endfor %}
        </div>
        <form id="message-form">
            <textarea id="message" rows="3" name="chat_message"></textarea><br>
            <button type="submit">Publicar resposta</button>
        </form>
        {% if is_admin %}
        <button id="close-ticket-btn">Close Ticket</button>
        <button id="reopen-ticket-btn">Reopen Ticket</button>
        {% endif %}
        <!--estado do ticket passa para fechado-->
    </div>

    <div class="footer">
        &copy; 2024 SREC-NIT. All rights reserved.
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var messageForm = document.getElementById('message-form');
            var messageInput = document.getElementById('message');
            var messageContainer = document.getElementById('message-container');

            // Function to append a message to the message container
            function appendMessage(message, sent) {
                var messageElement = document.createElement('div');
                messageElement.classList.add('message');
                if (sent) {
                    messageElement.classList.add('user-message');
                } else {
                    messageElement.classList.add('admin-message');
                }
                messageElement.innerHTML = message; // Use innerHTML to allow HTML content
                messageContainer.appendChild(messageElement);
                // Scroll to bottom of message container
                messageContainer.scrollTop = messageContainer.scrollHeight;
            }

            // Function to send a message
            function sendMessage(message) {
                // Send the message to the server
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ticket_id: {{ ticket_details.id }},
                        message: message
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to send message');
                    }
                    return response.json();
                })
                .then(data => {
                    // Message sent successfully, append it to the message container
                    appendMessage(message, true);
                })
                .catch(error => {
                    console.error('Error sending message:', error);
                });
            }
            var closeTicketButton = document.getElementById('close-ticket-btn');
            if (closeTicketButton) {
                closeTicketButton.addEventListener('click', function () {
                    var ticketId = {{ ticket_details.id }};
                    // Send an AJAX request to close the ticket
                    fetch(`/close_ticket/${ticketId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to close ticket');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle successful response (optional)
                        console.log('Ticket closed successfully');
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error closing ticket:', error);
                    });
                });
            }
            var closeTicketButton = document.getElementById('reopen-ticket-btn');
            if (closeTicketButton) {
                closeTicketButton.addEventListener('click', function () {
                    var ticketId = {{ ticket_details.id }};
                    // Send an AJAX request to close the ticket
                    fetch(`/reopen_ticket/${ticketId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to reopen ticket');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle successful response (optional)
                        console.log('Ticket reopened successfully');
                    })
                    .catch(error => {
                        // Handle error
                        console.error('Error reopening ticket:', error);
                    });
                });
            }


            // Event listener for message form submission
            messageForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent form submission
                var message = messageInput.value.trim(); // Get message text from textarea
                if (message !== '') { // Check if message is not empty
                    sendMessage(message); // Send the message
                    messageInput.value = ''; // Clear the message input
                }
            });
        });
    </script>
</body>
</html>
