body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
.message-container {
    max-height: 70vh; /* Set maximum height to 70% of viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding for better appearance */
}

.message {
    margin-bottom: 20px; /* Add margin between messages */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 8px;
}

.user-message {
    background-color: #859baa; /* Blue color for user messages */
    color: white;
}

.admin-message {
    background-color: #f0f0f0; /* Grey color for admin messages */
    color: black;
}

.message-header {
    font-weight: bold; /* Make the header bold */
    margin-bottom: 5px; /* Add margin below the header */
}

.user-header {
    color: #3498db; /* Blue color for user header */
}

.admin-header {
    color: #555; /* Dark grey color for admin header */
}
