body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
.message-container {
    
    padding: 10px; /* Add padding for better appearance */
}

.message {
    margin-bottom: 20px; /* Add margin between messages */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 8px;
}

.user-message {
    background-color: #a3b9ca; /* Blue color for user messages */
    color: white;
    float: left; /* Float user messages to the left */
    clear: both; /* Clear the float */
}

.admin-message {
    background-color: #f0f0f0; /* Grey color for admin messages */
    color: black;
    float: right; /* Float admin messages to the right */
    clear: both; /* Clear the float */
}


.message-header {
    font-weight: bold; /* Make the header bold */
    margin-bottom: 5px; /* Add margin below the header */
}

.user-header {
    color: #3498db; /* Blue color for user header */
}

.admin-header {
    color: #555; /* Dark grey color for admin header */
}

.ticket-info table {
    width: 100%;
    border-collapse: collapse;
}

.ticket-info td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.ticket-info td:first-child {
    width: 120px;
    font-weight: bold;
    color: #333;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.claim-ticket-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.claim-ticket-btn:hover {
    background-color: #0056b3;
}



