/* side_menu.css */

.sidenav {
    height: 100%;
    width: 260px; /* Adjust width as needed */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 10px 15px;
    transition: background-color 0.3s; /* Smooth transition */
}

.menu-item a {
    display: flex; /* Change display to flex */
    align-items: center; /* Align items vertically */
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition */
}

.menu-item a:hover {
    background-color: #555; /* Highlight on hover */
}

.menu-item a:hover span {
    color: #f1f1f1; /* Change text color on hover */
}

.menu-item a span {
    margin-left: 10px; /* Adjust as needed */
}

#logout-button {
    margin-top: 350px; /* Aligns the button to the bottom */
    padding: 10px 16px;
}

.main {
    margin-left: 250px; /* Adjust to match side menu width */
    padding: 16px;
}

.logo-main {
    margin-left: 15px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}
